@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.sparkling {
  position: relative;
  overflow: visible;
  display: inline-block;
  animation: squiggly-anim 50ms infinite;
}
.sparkling > span {
  z-index: 10;
  position: absolute;
  display: block;
  pointer-events: none;
  animation: comeInOut 700ms forwards;
}
.sparkling > span > svg {
  display: block;
  animation: spin 1000ms linear;
}
/* .sparkling > span > svg > path {
  stroke: #000;
  stroke-width: 4px;
  stroke-linejoin: round;
} */

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}

#smiley-container {
  animation: squiggly-anim 300ms infinite;
}
